<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<div th:fragment="depth_tap2" id="depth_tap2">
    <ul class='depth_tab2'>
        <li><a href='/disaster/DC/SA' target='_self'>화재</a></li>
        <li><a href='/disaster/DC/SB' target='_self'>산불</a></li>
        <li><a href='/disaster/DC/SC' target='_self'>붕괴</a></li>
        <li><a href='/disaster/DC/SD' target='_self'>폭발</a></li>
        <li><a href='/disaster/DC/SE' target='_self'>교통사고</a></li>
        <li><a href='/disaster/DC/SF' target='_self'>전기(감전)</a></li>
        <li><a href='/disaster/DC/SG' target='_self'>가스</a></li>
        <li><a href='/disaster/DC/SH' target='_self'>승강기</a></li>
        <li><a href='/disaster/DC/SI' target='_self'>낚시</a></li>
        <li><a href='/disaster/DC/SJ' target='_self'>산행</a></li>
    </ul>
</div>
</body>
</html>