<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<div th:fragment="depth_tap" id="depth_tap">
<ul class='depth_tab'>
    <li><a href='/disaster/DB/NA' target='_self'>홍수</a></li>
    <li><a href='/disaster/DB/NB' target='_self'>호우</a></li>
    <li><a href='/disaster/DB/NC' target='_self'>가뭄</a></li>
    <li><a href='/disaster/DB/ND' target='_self'>폭염</a></li>
    <li><a href='/disaster/DB/NE' target='_self'>태풍</a></li>
    <li><a href='/disaster/DB/NF' target='_self'>강풍</a></li>
    <li><a href='/disaster/DB/NG' target='_self'>한파</a></li>
    <li><a href='/disaster/DB/NH' target='_self'>황사</a></li>
    <li><a href='/disaster/DB/NI' target='_self'>지진</a></li>
    <li><a href='/disaster/DB/NJ' target='_self'>풍랑</a></li>
    <li><a href='/disaster/DB/NK' target='_self'>낙뢰</a></li>
</ul>
</div>
</body>
</html>