    .depth_tab2 {width:100%; margin-bottom:30px;}
.depth_tab2:after {content:""; display:block; clear:both;}
.depth_tab2 li {float:left; width:25%;}
.depth_tab2 li a {display:block; text-align:center; font-size:14px; border:1px solid #c4c4c4; border-bottom:1px solid #777777; background:#f0f0f0; padding:8px 10px; color:#444; margin-top:5px;}
.depth_tab2 li a.ov, .depth_tab li a:hover, .depth_tab li a:active, .depth_tab li a:focus {color:#333; font-weight:600; border:1px solid #777777; border-top:3px solid #777777; border-bottom:none; padding:11px 10px 8px 10px; margin-top:0; background:none;}
/*.depth_tab.type2 li a {margin-top:0; border-bottom:1px solid #c4c4c4;}
.depth_tab.type2 li a.ov,
.depth_tab.type2 li a:hover,
.depth_tab.type2 li a:active,
.depth_tab.type2 li a:focus {border:1px solid #777777; border-top:3px solid #777777; padding:6px 10px 8px 10px;}*/
.depth_tab2.type2 li a {margin-top:0; border:1px solid #fff;}
.depth_tab2.type2 li a.ov,
.depth_tab2.type2 li a:hover,
.depth_tab2.type2 li a:active,
.depth_tab2.type2 li a:focus {border:1px solid #fff; padding:8px 10px 8px 10px; background:#256490; color:#fff;}
